<mat-card class="cardTable">




    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
   
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> <h2>No.</h2> </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> <h2>Name</h2> </th>
        <td mat-cell *matCellDef="let element"> <strong>{{element.name}}</strong></td>
      </ng-container>
      
      <ng-container matColumnDef="date_film">
        <th mat-header-cell *matHeaderCellDef> <h2>Date Film</h2> </th>
        <td mat-cell *matCellDef="let element"> {{element.date_film}} </td>
      </ng-container>
    
      <ng-container matColumnDef="poster_film">
        <th mat-header-cell *matHeaderCellDef> <h2>Poster</h2> </th>
        <td mat-cell *matCellDef="let element"> {{element.poster_film}} </td>
      </ng-container>

      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-icon-button  (click)="nuevoFilmDialoj()"><mat-icon aria-hidden="false" aria-label="">add</mat-icon></button>
        </th>
        <td mat-cell *matCellDef="let element">
           <a (click)="editDialoj(element)"><mat-icon aria-hidden="false" aria-label="">edit</mat-icon></a>  
           <!-- <a (click)="deleteDialoj(element.id,element.name)"><mat-icon aria-hidden="false" aria-label="">delete</mat-icon></a> -->
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = $event"
  >
  </mat-paginator>
  
  </mat-card>


  


<!-- <h1 mat-dialog-title>Hi </h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field appearance="fill">
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->

  
