


<mat-card class="example-card" *ngFor="let comment of comments">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title> {{comment.name}}</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
   
    <mat-card-content>
      <p>
        {{comment.text}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      
      <button mat-raised-button color="primary">Comment</button>
    </mat-card-actions>
    <hr>
  </mat-card>