


       <app-table-component
       *ngIf="films$ | async as films"
       [tableData]="films"
       [DatosTable]="films"
       [tableColumns]="filmsTableColumns"
       [isFilterable]="true"
       [isPageable]="true"
       [paginationSizes]="[5,10,100]"
       [defaultPageSize]="4"
       [title]=title
       >

       </app-table-component>

       <br>
       <br>
       <br>
 
       <app-film-table-list
       *ngIf="films$ | async as films"
       [films]="films"
       [companies]="companies$ | async"
       [filmCompanies]="filmCompanies$| async"
       (filmEmitEdit)="EditOrDeleteFilm($event)"
       (filmEmitNew)="NewFilm($event)"
       >        
       </app-film-table-list>
 
       