
<!-- <h1>{{film.name}}</h1>
<mat-divider></mat-divider>
  <mat-grid-list cols="4" rowHeight="700px">
        <mat-grid-tile        
            [colspan]="1"
            [rowspan]="1"
            >
            <img mat-card-image src="assets/img/{{film.poster_film}}.png" alt="Photo of a Shiba Inu" class="imagen_poster_film">
        </mat-grid-tile>
        <mat-grid-tile        
            [colspan]="2"
            [rowspan]="1"
            >              
            <mat-card class="description"><h4>Details: <hr></h4> {{film.description}} 
                <hr>
                <ul>
                    
                    
                    <li>Premiere: {{film.date_premiere}}</li>                 
                    <li>Genero: {{genres.name }}</li>                                   
                    <li>Classification: {{film.classification}} </li>
                    <li>Country: {{country.name}} </li>
                    <img src="https://www.countryflags.io/{{country.code}}/shiny/64.png" alt="" class="flags">
                 </ul>
            </mat-card> 
    </mat-grid-tile>  
    </mat-grid-list>

    

    <mat-card class="Trailer">
    <h2>Trailer of {{film.name}}</h2>
    <youtube-player width="800" height="500"
      videoId="{{film.trailer}}"
     >
     </youtube-player>
    </mat-card>


 -->




    <h1>{{film.name}}</h1>
    <mat-divider></mat-divider>
    <mat-card class="card_exemple">
        <mat-card class="Imgen">
        <img mat-card-image src="assets/img/{{film.poster_film}}.png" alt="Photo of a Shiba Inu" class="imagen_poster_film">
        </mat-card >
        <h4>Details: <hr></h4> {{film.description}} 
    <hr>
        <ul>                      
            <li>Premiere: {{film.date_premiere}}</li>                 
            <li>Genero: {{genres.name }}</li>                                   
            <li>Classification: {{film.classification}} </li>
            <li>Votes: <strong color="primary" >{{likes}}</strong></li>
            <li>Country: {{country.name}} </li>
            <img src="https://www.countryflags.io/{{country.code}}/shiny/64.png" alt="" class="flags">
        </ul>
        <!-- </strong><mat-icon  class="icon_like">thumb_up</mat-icon> -->
    
        <mat-divider></mat-divider>
        <mat-card class="Trailer">
        <h2>Trailer of {{film.name}}</h2>
            <youtube-player width="800" height="500"
            videoId="{{film.trailer}}"
            >
            </youtube-player>
        </mat-card>
     </mat-card> 

    <form id="contactForm" [formGroup]="filmForm"  novalidate (ngSubmit)="ClickSaveCommentCritic()"> 
        <mat-card-title>Critics of {{film.name}} </mat-card-title>
    <!-- <mat-form-field appearance="outline" >
        <input matInput  placeholder="id_film" formControlName="id_film" class="form-control"  name="id_film" value="{{film.id}}" required >
       
    </mat-form-field>   -->
    
    <mat-form-field appearance="outline">
        <textarea rows="4" cols="50" matInput placeholder="text" formControlName="text" class="form-control"  name="text"></textarea>
    </mat-form-field>         
     <br>
    <button       
    id="btnSubmit"
    mat-raised-button 
    color="primary"     
    type="submit"
    >
    Send</button>
    </form> 

    <br>

