.example-card {
    max-width: 400px;
    /* height: 800px; */
  }
  
  .example-header-image {
   
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  img{
    height: 600px;
  }

  .buttonStar{
    margin:auto;
  }