


<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-tab label="Create Films"> 
       <app-film-form
       *ngIf="countries$ | async as countries"
       [countries]="countries"
       [genres]="genres$| async"
       [classification]="classification$| async"
       (filmEmit)="getFilm($event)"
       ></app-film-form>
       <app-film-table-list
       *ngIf="films$ | async as films"
       [films]="films"
       [companies]="companies$ | async"
       [filmCompanies]="filmCompanies$| async"
       >        
       </app-film-table-list>
  </mat-tab>
  <mat-tab label="Create Actors"> 
    <app-actor-form
    *ngIf="countries$ | async as countries"
    [countries]="countries"
    (actorEmit)="getActor($event)"
    >
    </app-actor-form> 

    <app-actor-table-list
    *ngIf="actors$ | async as actors"
    [actors]="actors"
    >
    </app-actor-table-list>
    
  </mat-tab>
  <mat-tab label="Add Actors in Films">
    <app-film-actor-form
    [actors]="actors$ | async"
    [films]="films$ | async"
    (filmActorEmit)="getFilmActor($event)"
    >
    </app-film-actor-form>
  </mat-tab>
</mat-tab-group>
