
<mat-card>
 <form [formGroup]="searchForm" novalidate> 
<!-- <div class="searchForm"> -->
<mat-form-field>
  <mat-label>Genres</mat-label>
  <!-- <mat-select [(value)]="selected"  formControlName="incomeLevel"> -->
    <mat-select  formControlName="genres">
    <mat-option *ngFor="let option of genres"value="{{option.id}}">{{option.name}}</mat-option>
  </mat-select>
</mat-form-field>

 <mat-form-field>
  <mat-label>Classification</mat-label>
  <mat-select  formControlName="classification">
    <mat-option *ngFor="let option of classification"value="{{option.id}}">{{option.name}}</mat-option>
  </mat-select>
</mat-form-field>


<!-- <mat-form-field>
  <mat-label>Regions</mat-label>
  <mat-select  formControlName="regions">
    <mat-option *ngFor="let option of regions" [value]="option.code">
      {{option.name}}
    </mat-option>
  </mat-select>
</mat-form-field>  -->
  <br>
<button mat-raised-button color="primary"  type="submit" (click)="onSubmit()">Search</button>
<button mat-raised-button color="warn" type="button" (click)="onReset()">Reset</button>

 </form>

</mat-card>