<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink=''><mat-icon aria-hidden="false" aria-label="">home</mat-icon> Home</a>
      <a mat-list-item routerLink="profile"> <mat-icon aria-hidden="false" aria-label="">person</mat-icon> Profile</a>
      <a mat-list-item routerLink='films'><mat-icon aria-hidden="false" aria-label="">movie</mat-icon> Films</a>
      <a mat-list-item routerLink="series"> <mat-icon aria-hidden="false" aria-label="">local_movies</mat-icon> Series</a>
      <a mat-list-item routerLink="search"> <mat-icon aria-hidden="false" aria-label="">youtube_searched_for</mat-icon> Search</a>
      <a mat-list-item routerLink="foro"> <mat-icon aria-hidden="false" aria-label="">chat</mat-icon> Foro</a>
      <a mat-list-item routerLink="mailbox"> <mat-icon aria-hidden="false" aria-label="">local_post_office</mat-icon> Mailbox </a>
      <a mat-list-item routerLink="people"> <mat-icon aria-hidden="false" aria-label="">people</mat-icon> People </a>
      <a mat-list-item routerLink="myfilms"> <mat-icon aria-hidden="false" aria-label="">movie_filter</mat-icon> My Films </a>
      <a mat-list-item (click)="Logout()" > <mat-icon aria-hidden="false" aria-label="">exit_to_app</mat-icon> Logout </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="assets/img/tv.png" width="60" height="60" alt="">
      <span>{{title}}</span>
      <!-- <h2>{{user.first_name}}</h2> -->
      <h2>{{user.email}}</h2>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
